.App{
 width: 100vw;
  height: 100%;
}
.App h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentContainer {
  
  background-color: #cecbcb;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 24px;
}

.commentContainer h3,
.commentContainer p {
  margin-top: 0;
  color: #222222;
}

.commentContainer p {
  font-size: 0.9rem;
  color: #383737;
  font-style: italic;
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
  margin-top: 15px !important;
}
